{% extends 'base.html.twig' %}
{% block title %}Hello {{ name }}!{% endblock %}
{% block body %}Hello {{ name }}!
<form action="#" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" />
</form>
{% endblock %}